.button {
  width: 150px;

  background-color: #028fcc;
  box-shadow: 0 10px 0 #03709f;
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding: 8px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.button:active {
  box-shadow: none;
  transform: translateY(12px);
}

.button:disabled {
  background-color: #bfbfbf;
  box-shadow: none;
  color: #666666;
  cursor: not-allowed;
  transform: translateY(12px);
  transition: all 250ms ease-in-out;
}