.button {
  background-color: transparent;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  padding: 0.7em 2em;
  border: 3px solid #028fcc;
  border-radius: 9px;
  position: relative;
  color: #028fcc;
  transition: 0.3s ease all;
  z-index: 1;
  cursor: pointer;
}

.button:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background-color: #028fcc;
  z-index: -1;
}

.button:hover {
  color: white;
}

.button:hover:before{
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

button:active {
  transform: scale(0.9);
}